body{
    font-family: Tahoma;
    margin: 40px;
}
.container{
    display: flex; /*flex 布局*/
    flex-direction: column; /*按照列排列*/
    align-items: center; /*元素在交叉轴方向上居中对齐*/
    gap: 5px;
}

.box{
    display: flex; 
    width: 100px;
    height: 100px;
    justify-content: center; /*水平居中*/
    border-top: 1px solid #687291 ;
    font-size: 40px;
}

.box:nth-child(odd){
    background-color: #dfe1e7;
}
.box:nth-child(even){
    background-color: #eeeff2;
}  /*后期调整一下顺序*/

.box1{
    display: flex; 
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center; 
    border: 4px solid black ;
    background-color:  #687291;
    font-size: 40px;
}